body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*.container  {
    margin-left: 10px;
}*/

.editor-label {

}
.editor-field {
    margin-bottom:10px;    
}

.wplcontainer {
    width: 320px;
    height: 240px;
    position: relative;
    border: 1px solid #d3d3d3;
    float: left;
}

    .wplcontainer video {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .wplcontainer .photoArea {
        border: 2px solid #6c601d;
        width: 320px;
        height: 240px;
        position: relative;
        margin-left: 0px;
        top: 0px;
    }
